
        <div class="pageheader notab">
            <h1 class="pagetitle">领导奖励设置</h1>
            <span class="pagedesc">设置商城用户领导奖励的条件</span>
            
        </div><!--pageheader-->
        <style>
		.back{
			width: auto;
			margin: 0;
			font-weight: bold;
			color: #666;
			border: 1px solid #ccc;
			background: #eee;
			padding: 7px 10px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			margin-left: 5px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
		</style>
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
			<div class="tableoptions">                    
				<button class="radius3" onclick="add_level();">添加设置</button>
			</div><!--tableoptions-->

            <form class="stdform stdform2" method="post">
				<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <thead>
                        <tr>
                            <th rowspan="1" class="head1">分销团队最低最高区间</th>
							<th colspan="1" class="head1">领导奖比例(分销团队的总额百分比)</th>
							<th colspan="1" class="head1">操作</th>
						</tr>
                    </thead>
                    <tbody>
							<volist name="_reward_setting" id="vo">
							<tr>
								<td>
									<input type="text" style="width:100px" name="min[]" value="{$vo.min}" />
								</td>
								<td><input type="text" style="width:100px" name="lv[]" value="{$vo.lv}" /></td>
								<td><a href="javascript:;" onclick="del_level(this)">删除</a></td>
							</tr>
							</volist>
						
                    </tbody>
                </table>
				<script>
					function add_level(){
						//return false;
						html = '<tr>'
							   +' <td><input type="text" style="width:100px" name="min[]" value="" /></td>'
							   +' <td><input type="text" style="width:100px" name="lv[]" value="" /></td>'
							   +'<td><a href="javascript:;" onclick="del_level(this)">删除</a></td>'
							   +'</tr>';
						
						jQuery("#table2").find("tbody").append(html);
					}
					
					function del_level(obj){
						jQuery(obj).parent("td").parent("tr").remove();
					}
				</script>
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="button" class="back radius2" onclick="window.location.href=&#39;{:U('index')}&#39;" value="返回" />
				</p>
			</form>
        
        
        </div><!--contentwrapper-->
        