        <div class="pageheader notab">
            <h1 class="pagetitle">编辑运费</h1>
            <span class="pagedesc">请认真编辑运费的各项信息</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			
        
            <form class="stdform stdform2" method="post">
				<style>
				.form-table{ width:100%; background:#ddd;}
				.form-table th,.form-table td{ padding:15px;}
				.form-table th.title{ width:190px; background:#fcfcfc; color:#666; text-align:left;}
				.form-table th small{ font-weight:normal; color:#999; display:block;}
				.form-table td{ background:#fff; vertical-align:middle;}
				</style>
				<script src="__PUBLIC__/js/district-all.js" type="text/javascript"></script>
				<script src="__PUBLIC__/js/linkagesel-min.js" type="text/javascript"></script>
				<table class="form-table" cellspacing="1" border="0">
					<if condition="$id eq ''">
					<tr>
						<th class="title">省市区<small>这里是提示您</small></th>
						<td id="dists">
							<select id="dist" style="width:120px;!important">
								<option value="">请选择</option>
							</select>
							<input type="hidden" class="select_value" name="district" />
						</td>
					</tr>
					<script>
						var $ = jQuery;
						var opts = {
								data: districtData,     // districtData为district-all.js中定义的变量
								select:  '#dist',
								selClass:'select-fix-width',
								head:'请选择',
								fixWidth:'100%'
						};
						
						var linkageSel = new LinkageSel(opts);
						districtData = opts = null; // 如果数据量大最好在创建LinkageSel实例之后清空
						linkageSel.onChange(function() {
							d = this.getSelectedDataArr('name'),    // 所有有选定菜单的name. this === linkageSel2
							arr = [];
							select_value = $(".select_value");
							for (var i = 0, len = d.length; i < len; i++) {
								arr.push(d[i]);
							}
							select_value.val(arr.join('||'));
							$('#dist').next().hide();
							$('#dist').next().next().hide();
						});
					</script>
					</if>
					<tr>
						<th class="title">首重<small>单位：1千克/rmb</small></th>
						<td>
							<input type="text" name="fkg" id="fkg" value="{$info.fkg}" class="smallinput" />
						</td>
					</tr>
					
					<tr>
						<th class="title">续重<small>单位：1千克/rmb</small></th>
						<td>
							<input type="text" name="ekg" id="ekg" value="{$info.ekg}" class="smallinput" />
						</td>
					</tr>
					
				
					
				</table>
				
				
				
				<p class="stdformbutton">
					<input type="hidden" name="id" value="{$id}" />
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
			
        </div><!--contentwrapper-->
        