<!DOCTYPE html>
<html class="pixel-ratio-2 retina ios ios-9 ios-9-1 ios-gt-8 ios-gt-7 ios-gt-6 watch-active-state" style="font-size: 23.4375px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="sogou_site_verification" content="CmNHqnSt0u">
<meta http-equiv="pragma" content="no-cache">
<title>{$_site['name']}-商户申请</title>
<link rel="stylesheet" href="__PUBLIC__/css/framework7.ios.css">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/my-app.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.font.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/m/css/newall.css">

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/layer/skin/layer.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
</head>
<body>
<style>
.views, .view ,.pages {
    position: inherit;
}
.upload-file {
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
}
</style>
<div class="views">
	<div class="view view-main">
		<div class="navbar wb">
			<div class="navbar-inner">
				<div class="left">
					<a href="javascript:history.go(-1)" class="link icon-only back">
					<i class="icon icon-back"></i>
					</a>
				</div>
				<div class="center blue-color" style="left: -20px;">
					<if condition="$user['ismch'] eq 1">
						商户资料
					<elseif condition="$user['ismch'] eq 0" />
						商户申请
					</if>
				</div>
				<div class="right">
					<a href="javascript:;" class="link"></a>
				</div>
			</div>
		</div>
		<div class="pages navbar-through">
			<div data-page="Password" class="page">
				<div class="page-content jobPage">
					<form id="register" class="list-block mt10" method="post">
						<ul class="clearfix">
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										真实姓名
									</div>
									<div class="item-input">
										<input type="text" name="true_name" id="true_name" autocomplete="off"  placeholder="请输入真实姓名" class="" value="{$user['true_name']}" />
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										手机号码
									</div>
									<div class="item-input">
										<input type="tel" name="mobile" value="{$user['mobile']}" id="mobile" autocomplete="off"  placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/\D/gi,&quot;&quot;)" maxlength="11" class="">
									</div>
								</div>
							</div>
							</li>
							<if condition="$user['ismch'] eq 0">
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										手机验证码
									</div>
									<div class="item-input">
										<input type="tel" name="code" id="code"  autocomplete="off"  maxlength="6" placeholder="手机短信验证码">
										<input class="getcode dpblue" type="button" onclick="sendSms(this);" value="发送短信">
									</div>
								</div>
							</div>
							</li>
							</if>
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										详细地址
									</div>
									<div class="item-input">
										<input type="text" name="address" value="{$user['address']}" id="address" autocomplete="off" placeholder="请输入详细地址" />
									</div>
								</div>
							</div>
							</li>
							
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										身份证正面照
									</div>
									<div class="item-input">
										<if condition="$user['sfz_a']">
											<img src="{$user['sfz_a']}" style="margin:10px;width: 100%;height: 80px;" />
										<else />
											<img src="__PUBLIC__/images/upload.jpg" style="margin:10px;width: 100%;height: 80px;" />
											<input class="upload-file" type="file" accept="image/*" multiple="" onchange="uploadPic(this)">
											<input name="sfz_a" id="sfz_a" type="hidden" />
										</if>
										
									</div>
								</div>
							</div>
							</li>
							
							<li>
							<div class="item-content">
								<div class="item-inner register-inner">
									<div class="item-title label">
										身份证反面照
									</div>
									<div class="item-input">
										<if condition="$user['sfz_a']">
											<img src="{$user['sfz_b']}" style="margin:10px;width: 100%;height: 80px;" />
										<else />
											<img src="__PUBLIC__/images/upload.jpg" style="margin:10px;width: 100%;height: 80px;" />
											<input class="upload-file" type="file" accept="image/*" multiple="" onchange="uploadPic(this)">
											<input name="sfz_b" id="sfz_b" type="hidden" />
										</if>
									</div>
								</div>
							</div>
							</li>
							
						</ul>
						<if condition="$user['ismch'] eq 1">
							<div style="text-align: center;line-height: 100px;background: #fff;border-top: 1px solid #ddd;font-size: 15px;color: #ce0e0e;">您的商户资料正在审核中...</div>
						<elseif condition="$user['ismch'] eq 0" />
							<div class="content-block">
								<button type="button" onclick="sign();" class="button button-big button-fill dpblue ubt" style="width:100%">立即申请</button>
							</div>
						<elseif condition="$user['ismch'] eq -1" />
							<div style="text-align: center;line-height: 50px;background: #fff;border-top: 1px solid #ddd;font-size: 15px;color: #ce0e0e;">您的申请已被拒绝，请修改资料后重新提交</div>
							<div class="content-block">
								<button type="button" onclick="sign();" class="button button-big button-fill dpblue ubt" style="width:100%">重新申请</button>
							</div>
						</if>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loading" style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;display:none;z-index: 9999;">
	<div class="load-b" style="width: 100%;height: 100%;position: absolute;background: #000;opacity: 0.8;z-index: 999999;"></div>
	<img src="__PUBLIC__/images/loading-2.jpg" style="width: 20%;left: 40%;top: 40%;position: absolute;z-index: 999999;" />
</div>
<script src="__PUBLIC__/m/js/app.js"></script>
<script src="__PUBLIC__/js/lrz.mobile.min.js"></script>
<script>
	function sign(){
		$('#loading').show();
		var data = {
			"true_name":$('#true_name').val(),
			"mobile":$('#mobile').val(),
			"code":$('#code').val(),
			"address":$('#address').val(),
			"sfz_a":$('#sfz_a').val(),
			"sfz_b":$('#sfz_b').val(),
		}
		var err_msg = {
			"true_name":'请输入您的真实姓名',
			"mobile":'请输入您的手机号码',
			"code":'请输入您的手机验证码',
			"address":'请输入您的详细地址',
			"sfz_a":'请上传您的身份证正面照',
			"sfz_b":'请上传您的身份证反面照',
		}
		var msg='';
		$.each(data,function(i,v){
			if(v==''){
				msg = err_msg[i];
				return false;
			}
		});
		if(msg!=''){
			$('#loading').hide();
			layer.msg(msg);
			return false;
		}
		$.post("{:U('Mch/sign')}",data,function(d){
			$('#loading').hide();
			if(d){
				if(d.status){
					layer.msg(d.info,{icon:6},function(){
						if(d.url){
							location.href=d.url;
						}else{
							location.reload();
						}
					});
				}else{
					layer.msg(d.info,{icon:5});
				}
			}else{
				layer.msg('请求失败',{icon:5});
			}
		});
	}
</script>
<include file="include/footer" />
</body>
</html>