<!DOCTYPE html>
<html data-dpr="1" style="font-size: 15px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$_site['name']}</title>
<meta name="keywords" content=""> 
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta name="data-spm" content="a215s">
<meta content="telephone=no,email=no" name="format-detection">
<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
<link rel="shortcut icon" href="__PUBLIC__/m/images/favicon.ico" type="image/x-icon">
<link href="__PUBLIC__/m/css/newall.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/layer/skin/layer.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.min.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
</head>
<body style="font-size: 12px; background: rgb(255, 255, 255);">