<include file="include/head" />
<link rel="shortcut icon" href="__PUBLIC__/m/images/favicon.ico" type="image/x-icon">
<link href="__PUBLIC__/m/css/iscroll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src=".__PUBLIC__/m/js/iscroll.js"></script>
<style>
.ol-r h3{width: 100%;height: 14px;line-height: 14px;overflow: hidden;}
.r-price{color:#999; padding-top:4px;}
.r-red{color:#f40001; padding-top:4px;}
.mb-dtl li {margin: 0 15px;}
#wrapper {z-index: -1;top: 50px;}

</style>

<include file="include/header"  title="我的关注" />
<div style="display: block;margin-top: 44px;" id="J_wrap" class="landscape">
	<div class="main">
		<div class="c-clild mb-dtinfo" id="J_orderDetail">
			<div class="mainCont">
				<section class="mb-dtl" style="font-size: 12px">
					<div id="wrapper" style="overflow: hidden; left: 0px;">
						<div id="scroller" style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
						    <ul id="thesearchlist">
								
						    </ul>
							<div class="more"><i class="pull_icon"></i><span>上拉加载...</span></div>
					   	</div>
					</div>
					
				</section>
			 </div>
		</div>
	</div>	
</div>

<include file="include/footer" />
<script type="text/javascript" src="__PUBLIC__/m/js/Favorite.js"></script>
</body>
</html>