		
<if condition="$list">
<foreach name="list" item="v">
<li>
	<div class="fl">
		<div><if condition="$status eq 3">账户乐币已结算记录<else />账户乐币待结算记录</if></div>
		<div style="margin-top:8px;">{$v['create_time']|date="Y-m-d H:i:s",###}</div>
	</div>
	<div class="fr sw"><if condition="$v['status'] eq 3">账户乐币已结算记录<elseif condition="$v['status'] eq 2" />待确认收货<else />未达条件</if></div>
	<div class="fr" style="color:#659ed2;margin-top:15px;font-size:14px;margin:10px;">{$v['points']}</div>
</li>	
</foreach>
<else />
	<div style="border:0px;" class="empty">
		<span class="pullUpLabel">
			<img src="__PUBLIC__/m/images/no-more.png" class="no-more">
			<span class="txt-nomore-msg">没有更多啦</span>
		</span>
	</div>
</if> 				