<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no">
<title>{$_site['name']}</title>
<link href="__PUBLIC__/m/css/newall.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font.css">
<link href="__PUBLIC__/layer/skin/layer.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/mobiscroll.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.min.js"></script>
<script src="__PUBLIC__/js/mobiscroll.js" charset="utf-8" type="text/javascript"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
</head>
<body bgcolor="#f2f2f2">
<style>
.smark-profile .submit {
    padding: 30px 20px;
}
</style>
<include file="include/header" title="修改个人资料" />
 <div class="smark-profile tab1" style="margin-top: 44px;">
	<ul>
		<li class="first">
			<span class="personal-img">个人头像&nbsp;<span style="font-size:10px;color:#ddd;">(点击头像上传图片)</span></span>
			<div class="right" style="position:relative;">
				<img src="{$user['headimg']}">
				<input type="file" onchange="upload(this)" style="position:absolute;left:0;opacity: 0;top: 0;width: 60px;height: 60px;" />
				<input name="headimg" type="hidden" value="{$user['headimg']}" />
			</div>
		</li>
		<li>
			<span>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
			<em>{$user['nickname']}</em>
			<i class="iconfont icon-right" style="float:right"></i>
		</li>
		<li class="flex">
			<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
			<input name="true_name" class="flex_1" placeholder="请输入真实姓名" type="text" value="{$user['true_name']}">	
		</li>
		<li class="flex">
			<span>身份证号</span>
			<input name="cardno" class="flex_1" placeholder="请输入身份证号" type="text" value="{$user['cardno']}">	
		</li>
		<li class="flex">
			<span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</span>
			<input name="mobile" class="flex_1" placeholder="请输入电话号码" type="text" value="{$user['mobile']}">	
		</li>
		<li class="flex">
			<span>开户银行</span>					
			<input name="bank" class="flex_1" placeholder="请输入开户银行" type="text" value="{$user['bank']}">		
		</li>
		<li class="flex">
			<span>银行卡号</span>					
			<input name="bankno" class="flex_1" placeholder="请输入银行账号" type="text" value="{$user['bankno']}">		
		</li>
		
		<li class="flex">
			<span>出生日期</span>					
			<input readonly="readonly" id="birth" class="flex_1 mbsc-comp" placeholder="请输入出生日期" type="text" value="{$user['birth']}">
			<i class="iconfont icon-right"></i>			
		</li>
		<li class="flex">
			<span>邮寄地址</span>					
			<input name="address" class="flex_1" placeholder="请输入详细地址" type="text" value="{$user['address']}">		
		</li>
	</ul>
	<div class="submit">
		<input name="submit" value="提交" type="button">
	</div>
		
</div>
<div class="nickname-popup" style="display:none">
	<div>
		<input placeholder="请输入新昵称" type="text">
		<input name="save" value="保存" type="button">
	</div>
</div>
<script type="text/javascript">
    $(function($){
		$("input[name='logout']").click(function(){
			window.location.href="{:U('Ucenter/logout')}";
		});
		$("input[name=savePassword]").click(function(){
			window.location.href="{:U('Ucenter/editPsw')}";
		});
    });
</script>
<script>
	$(function(){
		$('#birth').mobiscroll().date({
				theme: 'mobiscroll',
				lang: 'zh',
				display: 'bottom',
				dateWheels: 'yy-mm-dd',
				dateFormat: 'yy-mm-dd',
				showScrollArrows: true
			});
		var mobile = $("input[name=mobile]").val();
		if(mobile != ""){
			$("input[name=mobile]").attr("disabled","true");
		}else{
			$("input[name=mobile]").removeAttr("disabled");
		}
		$(".smark-profile li:nth-child(2)").click(function(){
			$(".nickname-popup").show()
		});
		$(".nickname-popup input[name=save]").click(function(){
			var name = $(".nickname-popup input[type=text]").val();
			if(name !== ''){
				$(".smark-profile li:nth-child(2) em").text(name);
			}	
			$(".nickname-popup").hide();
		});
		$("body").keydown(function(e) {
			var e = e || event, keycode = e.which || e.keyCode;
			if (keycode == 13) {
				$(".smark-profile input[name=submit]").trigger("click");
			}
		});
		$(".profile-tab a").click(function(){
			$(this).addClass("active").siblings().removeClass("active");
		});
        $(".smark-profile input[name=submit]").click(function(){
			var name = $(".smark-profile li em").text();
			var sex = $(".smark-profile li option:selected").attr("value");
			var birth = $("#birth").val();
			var mobile = $("input[name=mobile]").val();
			var address= $("input[name=address]").val();
			var true_name = $("input[name=true_name]").val();
			var cardno = $("input[name=cardno]").val();
			var headimg = $("input[name=headimg]").val();
			var bank = $("input[name=bank]").val();
			var bankno = $("input[name=bankno]").val();
			if(true_name == '' || true_name == null){
				layer.msg("请输入真实姓名",{icon:5});
				return false;
			}
			if(bank == '' || bank == null){
				layer.msg("请输入开户银行",{icon:5});
				return false;
			}
			if(bankno == '' || bankno == null){
				layer.msg("请输入银行卡号",{icon:5});
				return false;
			}
			if(cardno == ''|| cardno == null){
				layer.msg("请输入身份证号",{icon:5});
				return false;
			}
			if(mobile == ''|| mobile == null){
				layer.msg("请输入手机号码",{icon:5});
				return false;
			}
			$.post("{:U('My/profile')}",{nickname:name,bank:bank,bankno:bankno,birth:birth,mobile:mobile,address:address,true_name:true_name,cardno:cardno,headimg:headimg},function(data){
					console.log(data);
					if(data.status==1){
						layer.alert(data.info,{icon:6},function(){
							window.location.href=data.url;
						});
					}else{
						layer.msg(data.info,{icon:5});
					}
				},"json"
				)
		});	
    });
</script>
<script src="__PUBLIC__/js/lrz.mobile.min.js"></script>
<script>
	function upload(obj){
		//上传图片至服务器
		var inputHide = $(obj.parentElement).find("input[type=hidden]");
			img = $(obj.parentElement).find("img");
		lrz(obj.files[0], {
			done: function (results) {
				  // 你需要的数据都在这里，可以以字符串的形式传送base64给服务端转存为图片。
				  $.post("{:U('Ajax/upload_64')}",
						  {img:results.base64,size:results.base64.length},function(data){
					  if(data.status){
						  inputHide.val(data.info);
						   img.attr('src',data.info);
					  }else{
						  layer.msg(data.info,{icon:5});
					  }
				  });
			}
		});		
	}
</script>
<include file="include/footer" />	
</body>
</html>