/*--gunping--*/
.dt-slider {
height: 320px;
overflow: hidden;
position: relative;
margin: 0 auto;
}
.dt-slider-cont {
height: 320px;
overflow: hidden;
margin: 0 auto;
position: relative;
}
.dt-slider-cont .dt-slct-ul {
display: -webkit-box;
position: absolute;
text-align: center;
}
.dt-slider-cont .dt-slct-ul li {
width: 320px;
height: 320px;
display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;

}
.dt-slider-cont .dt-slct-ul li img {
width: 100%;
display: block;
}

.dt-slider-status {
position: absolute;
bottom:50px;
width: 100%;
text-align: center;
z-index: 8;
}
.dt-slider-status i {
display: inline-block;
width: 7px;
height: 7px;
border-radius: 7px;
background-color: #f7f7f7;
margin-right: 12px;
}
.dt-slider-status .sel {
width: 9px;
height: 9px;
border-radius: 9px;
border: 0;
background-color: #c40001;
}
/*--miaoshu--*/
.dt-info {
padding: 150px 20px 0;
background-color: #fff;
margin-top: 235px;
}
.dt-info .dtif-h {
line-height: 1.28;
font-size: 1rem;
margin-bottom:0.5em;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
text-overflow: ellipsis;
overflow: hidden;
color: #3d4245;
}
.d-cul li {
min-height: 26px;
line-height: 26px;
}
.d-cul li label {
display: inline-block;
width: 78px;
}
.d-cul li ins {
text-decoration: none;
font-size: 1.2em;
vertical-align: -2px;
}

 .di-org {
display: inline-block;
line-height: 16px;
border-radius: 2px;
-webkit-border-radius: 2px;
padding: 2px 6px;
background-color: #c98702;
color: #fff;
}


.dgscp-c {
margin: 16px 0;
position: relative;
}
.dgsc-pc {
margin-top: 6px;
margin-right: -10px;
font-size: 0.8em;
}
.dgsc-pr {
padding: 0 20px;
}

.dgsc-pc .d.sel {
width: 130px;
}

.dgsc-pc .d {
width: 130px;
padding: 0 3px ;

}
.dgsc-pc .sel {
background: #c40001;
color: #fff;

}
.dgsc-pc>i {

height: 28px;
line-height: 28px;
background-color: #eee;
border-radius: 3px;
margin: 5px 10px 0 0;
display: inline-block;
text-align: center;
overflow: hidden;
vertical-align: middle;
}

.nums {
	width: 92px;
	position: absolute;
	right: 0;
	top: 10px;
	display: inline-block;
	border: 1px solid #c5c8cf;
	text-align: left;
	overflow: hidden
}
.minus, .plus, .input-nums {
	float: left
}
.minus, .plus {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #6e758a;
	font-size:1.2em;
}
.minus.lock, .plus.lock {
	color: #d5d5d5
}
.minus {
	border-right: 1px solid #c5c8cf
}
.plus {
	border-left: 1px solid #c5c8cf
}
.input-nums {
	width: 50px;
	height: 20px;
	text-align: center
}
.bd {
border-top: 1px #ddd solid; 
line-height: 40px;
}

/*--xiangqing--*/
.dt-content {
background-color: #f5f5f5;
padding-bottom: 20px;
position: relative;
}
.dtct-ul {
border-width: 1px 0;
line-height: 40px;
display: -webkit-box;
text-align: center;
color: #4e4e4e;
font-weight: 700;
position: relative;
width: 100%;
z-index: 100;
}
.dtct-ul>li {
-webkit-box-flex: 1;
border-top: 1px solid #ddd;
border-bottom: 1px solid #fff;
}
.dtct-ul>.sel {
    background: #CE443A;
    color: #fff;
}

.dtct-otr .dtct-container {
width: 100%;
display: -webkit-box;
}
.dtct-otr .dtct-container>div {
width: 100%;
-webkit-box-flex: 1;
overflow: hidden;
}
.dtit-dt {
text-align: center;

}
.dtit-dt img {
display: block;
max-width: 100%;
margin: 0px auto;
}


.dt-action .dta-iner {
display: -webkit-box;
text-align: center;
}

.innercontent {
padding: 0 10px;
margin: 0 auto;
}

.dtp-ul {
margin-top: 16px;
}
.dtp-ul>li {
padding:10px 20px;
padding-top: 0;
margin-top: 10px;
border-bottom: 1px #ddd solid;
display: -webkit-box;
line-height: 20px;
}
.dtp-ul>li>label {
display: block;
color: #999;
width: 90px;
height: 100%;
overflow: hidden;
}
.dtp-ul>li>span {
display: block;
-webkit-box-flex: 1;
}

.dtcm-ct {
background-color: #efe6e6;
border-top: 1px #ddd solid;
color: #4d4d4d;
}
.dtcmc-li {
border-bottom: 1px #ddd solid;
padding: 12px 16px;
}
.dtcmcl-p, .dtcmcl-d2 {
margin: 8px 0;
}
.dtcmcl-d3 {
font-size: .86rem;
}
.dtcmcl-d3 span {
margin-right: 20px;
}
.item-action {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: flex;
height: 50px;
bottom: 0;
left: 0;
text-align: center;
line-height: 50px;
z-index: 999;
background-color: #fff;
}
.item-action .add-to-cart {
-webkit-box-flex: 3;
width: 33.333%;
-webkit-flex: 3;
flex: 3;
background-color: #ff9402;
color: #fff;
}
.item-action .buy-now {
-webkit-box-flex: 3;
width: 33.333%;
-webkit-flex: 3;
flex: 3;
background-color: #c40001;
color: #fff;
}
.item-action .cant2 {
background-color: #bfbfbf;
}
.item-action .cant1 {
background-color: #8d8d8d;
}
/*产品详情尾部（购物车，关注）*/
.changeByCli img{width:100%!important}
.changeByCli table{width:100%!important}

.cart-concern-btm-fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999999;
	text-align: center;
	width: 100%;
	height: 50px;
}



.concern-cart:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	border-top: 1px solid #d2d2d2;
}

.concern-cart a, .action-list a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	float: left;
}

.concern-cart, .action-list {
	float: left;
}

.concern-cart {
	background-color: rgba(255,255,255,.9);
	position: relative;
}

.concern-cart a, .action-list a {
	width: 50%;
}

.concern-cart a {
	color: #d4d4d4;
	font-size: 10px;
}

.concern-cart a span {
	display: block;
	line-height: 9px;
	height: 15px;
	text-align: center;
}

.four-column .concern-cart {
	width: 36%;
}

.four-column .action-list {
	width:64%;
}


.focus-container {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.focus-container .focus-icon {
	text-align: center;
	margin-bottom: 17px;
	height: 18px;
	position: relative;
}

.five-column .concern-cart a {
	width: 33.3%;
}
.cart-car-icn .btm-act-icn {
	background-position: 0 -21px;
	background-size: 50px 50px;
	width: 22px;
}

em.btm-act-icn {
    width: 23px;
    height: 21px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 4px;
    background: url(../images/cart_sprits.png) 0 0 no-repeat;
    position: relative;
}
.Customer-service-icn .help-act-icn {
	background-position:-25px 0;
	background-size: 50px 50px;
	width: 22px;
}

em.help-act-icn {
    width: 23px;
    height: 21px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 4px;
    background: url(../images/cart_sprits.png?a=b)  0 0 no-repeat;
    position: relative;
}

.Customer-service{ background:#fff; position:fixed; z-index:9999999; width:100%; height:32%; text-align:center; bottom:0; left:0; border:1px solid #ddd}
.Customer-service a{ width:80%; margin:5% 10%; display:block}
.Customer-service a img{ width:100%;}
.cant a{ opacity:0.6; cursor:none}
.gzewm{     background: #fff;
    border: 1px solid #000;
    border-radius: 5%;
    width: 80%;
    margin:0;
    position: fixed;
    left: 10%;
    top:18%;
    z-index:999999999; height:auto;}
.hk{ background:#e6e6e6; height:100%; width:100%; padding:10% }
.action-list {
    display: block;
    line-height: 9px;
    height: 15px;
    text-align: center;
}
.action-list a {
    color: #fff;
    font-size: 15px;
}
.concern-cart, .action-list {
    float: left;
}

.concern-cart a, .action-list a {
    width: 33.33%;
}
.concern-cart a, .action-list a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
}
.yellow-color {
    background-color: #ffb03f;
}
.red-color {
    background-color: #99000c;
}
.bottom-focus-icon {
	background: url(../images/focus-icon-new.png) no-repeat;
	background-size: 22px 44px;
	display: inline-block;
	width: 22px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -11px;
}
.focus-on {
    background-position: -1px -25px!important;
}

.ewwm{
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index: 999;
}
.gzewm{     
	background: #fff;
    border: 1px solid #000;
    border-radius: 5%;
    width: 80%;
    margin:0;
    position: fixed;
    left: 10%;
    top:20%;
    z-index:999999999; height:auto;
}
.fankui{
	height: 100%;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
	top: 0;
    left: 0;
}
.kuang{ width:80%; margin:10% }
.kuang dl{ text-align:left; margin:10px 0 auto; padding-left:0; }
.kuang .carlist{ margin-bottom:10px; width:170px; overflow:hidden; }
.kuang .daixuan{ border:1px solid #ddd; background:#fff; color:#042248; padding:2px 14px;border-radius:10px; margin:5px; }
.kuang .xuanzhong{ border:1px solid #9b0001; background:#9b0001; color:#fff; }
.kuang .shuru{ border:1px solid #e1e1e1; width:100%; border-radius:10px; display: table; margin:auto; margin-bottom:10px; color:#a4a4a4; padding:10px; text-align:left; }

